.horizontal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .overview {
    margin-left: 40px;
    margin-right: 40px;
  }

  .overview p {
    margin-top: -6px;
  }

  .logo {
    object-fit: cover;
    width: 400px;
    height: 100px;
  }
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;

  .content li {
    margin-bottom: 10px;
  }
}
