.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 40px;

  .content {
    width: 50%;

    .description {
      display: flex;
      justify-content: flex-start;
    }
    
    .header {
      animation: fadeinout 4s;
      display: flex;
      justify-content: flex-start;
    }
  }
}

@keyframes fadeinout {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
