section.home {
  background-image: url(../backgrounds/home.svg);
  background-size: cover;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20%;

  .content {
    padding-left: 20px;

    .description {
      display: flex;
      justify-content: flex-start;
    }
    
    .header {
      animation: fadeinout 3s;
      display: flex;
      justify-content: flex-start;
    }
  }
}

@keyframes fadeinout {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
