.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  margin-top: 80px;
  gap: 40px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    .header {
      animation: fadeinout 4s;
      z-index: 1;
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
    }
  }
}

@keyframes fadeinout {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}
