.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  margin-left: 20px;

  .logo {
    border-radius: 50%;
    width: 36px;
  }
  
  .name {
    color: black;
    font-size: 20px;
    font-weight: 800;
  }
}

.navigation-menu ul {
  display: flex;
  margin-right: 10px;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 14px;
}

.navigation-menu li a {
  text-decoration: none;
  color: black;
}
