.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;

  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    min-width: 460px;
    max-width: 1000px;

    .card {
      height: 180px;
      min-width: 220px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: calc(min(80vw - 240px, 760px));
      overflow-y: scroll;

      .header {
        display: inline;
        margin-left: 0px;
      }

      .vertical-separator {
        border-left: 1px solid darkgray;
        margin-left: 10px;
        margin-right: 10px;
      }

      .link {
        width: 18px;
        height: 18px;
        transform: translateY(2px);
      }
    }

    .card p {
      margin-bottom: 0px;
    }

    .image {
      object-fit: cover;
      height: 220px;
      width: 200px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 100%);
    }
  }
}
