.switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
  
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  
    .content {
      flex: 0 0 auto;
      width: 90%;
      margin: 5%;
      scroll-snap-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      flex-direction: column;
      animation: fadein 1s;
  
      .subtitle {
        padding-top: 10px;
        padding-bottom: 40px;
      }
  
      .items {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
  
        .card {
          width: 240px;
          height: 180px;
        }
      }
  
      .logo {
        object-fit: cover;
        width: 400px;
        height: 200px;
      }
    }
  }

  .dot-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  
    .dot {
      height: 24px;
      width: 24px;
      background: linear-gradient(135deg, rgba(242,242,242,1) 0%, rgba(212,212,212,1) 100%);
      border-radius: 50%;
      border-style: none;
    }
  
    .dot.highlighted {
      background: rgb(212,212,212);
      background: linear-gradient(135deg, rgba(212,212,212,1) 0%, rgba(122,122,122,1) 100%);
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
