.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 100%;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
    gap: 40px;

    .content {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      padding-left: 40px;
      padding-right: 40px;

      .item {
        background-color: white;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        height: 200px;
      }
    }

    .logo {
      object-fit: cover;
      width: 400px;
      height: 200px;
    }
  }
}

.dot-switcher {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 10%;

  .dot {
    height: 10px;
    width: 10px;
    background: rgb(242,242,242);
    background: linear-gradient(135deg, rgba(242,242,242,1) 0%, rgba(212,212,212,1) 100%);
    border-radius: 50%;
    display: inline-block;
  }

  .dot.highlighted {
    background: rgb(212,212,212);
    background: linear-gradient(135deg, rgba(212,212,212,1) 0%, rgba(122,122,122,1) 100%);
  }
}
